%hr

%section
  %p
    = link_to new_user_path, class: 'btn btn-primary' do
      = t('views.users.actions.new.title')
%hr

%section
  %form
    - if params[:keyword]
      %input.span2#search{type:"text", name:"keyword",value: params[:keyword], class:'input-medium'}
    -else
      %input.span2#search{type:"text", name:"keyword", class:'input-medium'}
    %br
    %input.btn.btn-primary{type:"submit", name:"search", value:"検索"}
%hr

%section

  - unless @users.empty?
    - @users.each do | user |
      = t('activerecord.attributes.users.account_no')
      = ':'
      = user.account_no
      %br
      = t('activerecord.attributes.users.name')
      = ':'
      = user.name
      %br
      = t('activerecord.attributes.users.area')
      = ':'
      = user.area
      %br
      = t('activerecord.attributes.users.memo')
      = ':'
      = user.memo
      %br
      = t('activerecord.attributes.users.give_me')
      = ':'
      = user.give_me
      %br
      = t('activerecord.attributes.users.give_you')
      = ':'
      = user.give_you
      / %br
      / = t('views.label.actions')
      / %br
      / = link_to user_path(user), class: 'btn' do
      /   = t('views.input.show')
      %br
      = link_to edit_user_path(user), class: 'btn' do
        = t('views.input.edit')
      / %br
      / = link_to user_path(user), method: :delete, confirm: t('views.confirmation.delete'), class: 'btn btn-danger' do
      /   = t('views.input.delete')
      %hr
  - else
    データがありません。

  = paginate @users
