- title @title
.row
  .span12

    %section
      .header
        = render 'shared/header_menu_administrator_edit_or_show'

    %nav.table-title-02
      %ul.breadcrumb
        %li.active
          = link_to t('views.insurance.insurance_notices.actions.index.title'), [:administrator, :insurance_notices]

    %section

      %article
        %h2= @notice.title

        .content
          = simple_format @notice.content

        .actions
          = link_to t('views.input.edit'), [:edit, :administrator, @notice], class: 'btn mr_5'
          = link_to t('views.input.back'), [:administrator, :insurance_notices], class: 'btn'